<div class="list-group" >
  <a
    routerLink="/home"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <div class="icon">
      <i class="bi bi-user"></i>
    </div>
    <div>User Management</div>
  </a>

  <a
    routerLink="/tast-mgmt"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <div class="icon">
      <i class="bi bi-user"></i>
    </div>
    <div>Tast Management</div>
  </a>

</div>
